{% extends 'base.html.twig' %}
{% block title %}Modifier la formation : {{ formation.titre }}{% endblock %}
{% block body %}
    <div {{ vue_component('Formations/FormationAdmin') }}></div>
{% endblock %}