{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
    <main class="flex-1 space-y-6">
      <div {{ vue_component('Formations/FormationList') }}></div>
    </main>
</div>

<script>
  window.APP_ROUTES = {
    formationNew: "{{ path('formation_new') }}"
  };
</script>
{% endblock %}