{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
    <div {{ vue_component('Settings/Settings') }}></div>
</div>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/assets/settings.js"></script>
{% endblock %}
