{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
  <sidebar></sidebar>
  <settings></settings>
</div>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/assets/settings.js"></script>
{% endblock %}
