<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}CRM{% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {{ encore_entry_link_tags('app') }}
  {{ encore_entry_script_tags('app') }}
</head>
<body class="flex">
  <div {{ vue_component('Layout/Sidebar') }}></div>
  <main class="flex-1 p-4">
    {% block body %}{% endblock %}
  </main>
{% if app.user %}
    <script>
      window.APP_USER_ROLES = {{ app.user.roles|json_encode|raw }};
    </script>
{% else %}
    <script>
      window.APP_USER_ROLES = [];
    </script>
{% endif %}
</body>
</html>
