{% extends 'base.html.twig' %}
{% block body %}
<div class="flex">
  <sidebar></sidebar>
  <stat class="w-4/5"></stat>
</div>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/assets/stats.js"></script>
{% endblock %}
