{% extends 'base.html.twig' %}
{% block body %}
  <div {{ vue_component('User/UserShow', {
        user: {
          id: user.id,
          prenom: user.prenom,
          nom: user.nom,
          email: user.email,
          role: user.role.value,
          isActive: user.isActive
        },
        saveUrl: path('api_user_update', {id: user.id}),
        deleteUrl: path('user_delete',       {id: user.id}),
        csrfToken: csrf_token('delete_user_' ~ user.id),
        isAdmin: is_granted('ROLE_ADMIN_CENTRE')
  }) }}>
  </div>
{% endblock %}
