{% extends 'base.html.twig' %}

{% block body %}
<div class="flex">
  <sidebar></sidebar>
    <main class="flex-1 space-y-6">
        <Userpage>
    </main>
</div>
<script type="module" src="http://localhost:5173/@vite/client"></script>
<script type="module" src="http://localhost:5173/assets/user.js"></script>
{% endblock %}
